body {
  background: #212121;
  border: 0px;
  height: 100%;
  margin: 0px;
  padding: 0;
}

header {
  background: #171717;
  width: 100%;
  border: 5px solid #171717;
  color: #171717;
  font-family: Andale Mono, monospace;
  text-align: center;
  border-image: linear-gradient(90deg,#EEAECA, #EEAECA) 30;
  border-width: 4px;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  z-index: 1000;
}

h1{
  background: -webkit-linear-gradient(270deg,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Andale Mono, monospace;
  font-size: 50px;
}

.slider-group {
  display: flex; /* Enable flexbox for grouping */
  flex-wrap: wrap; /* Allow elements to wrap into new lines */
  justify-content: space-between; /* Distribute sliders evenly within the group */
}

.container {
  background: #171717; /*Jak ci to przeszkadza to zakomentuj to*/
  border-image: linear-gradient(180deg,#EEAECA, #94BBE9) 30;
  border-width: 4px;
  border-style: solid;
  border-top: 0px;
  border-bottom: 0px;
}

/* Center the image */
.container .row:first-child {
  display: flex;
  justify-content: center;
}

.col-12 {
  width: 100%;
}

.col-12 img{
  width: 80%;
}

/* Increase slider size */
.col-4 {
  padding:1vh;
  width: 40%; /* Adjust as needed for desired size */
  text-align: center; /* Center content within each slider column */
}

/* Style labels and sliders */
.col-4 label,
.col-4 input[type="range"] {
  display: block; /* Make labels and sliders stack vertically */
  width: 100%; /* Make sliders and labels fill the width of the column */
  margin-bottom: 5px; /* Add some space between label and slider */
}

/* Style labels specifically */
.col-4 label {
  font-weight: bold; /* Make labels bolder for better distinction */
}


label{
  background: -webkit-linear-gradient(270deg,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Andale Mono, monospace;
  font-size: 20px;
}

.col-4 input[type="range"] {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  /* Add gradient properties here */
  background-image: linear-gradient(270deg,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1));
  /* Adjust gradient colors and direction as desired */
}


input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  /*  overflow: hidden;  remove this line*/
  
  /* New additions */
  height: 6px;
  background: #ccc;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  height: 15px;
  width: 15px;
  background-color: #94BBE9;
  border-radius: 50%;
  border: none;

  /* box-shadow: -407px 0 0 400px #f50; emove this line */
  transition: .2s ease-in-out;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: -webkit-linear-gradient(270deg,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1));
  border-radius: 50%;
  border: none;
  
  /* box-shadow: -407px 0 0 400px #f50; emove this line */
  transition: .2s ease-in-out;
}

/* Hover, active & focus Thumb: Webkit */

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(111, 152, 255, 0.1)
}
input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(80, 217, 255, 0.2)
}
input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(82, 111, 255, 0.2)
}

/* Hover, active & focus Thumb: Firfox */

input[type="range"]::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px rgba(255, 169, 241, 0.1)
}
input[type="range"]:active::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(255, 69, 205, 0.2)
}
input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(235, 147, 255, 0.2)    
}


.range {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 500px;
  margin: 0 auto;
  height: 4rem;
  width: 80%;
  background: #fff;
  padding: 0px 10px;
}


.btn-grad {
  background-image: linear-gradient(to right, #EEAECA 0%, #94BBE9  51%, #EEAECA  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
